input {
    /* outline-offset: 3px; */
    outline: none;
}

.green {
    border: 2px solid yellowgreen;
}

span {
    display: block;
    color: blueviolet;
    font-weight: 700;
}

.red {
    border: 2px solid red;
}