@import url(./loader.css);

#Pag_btn {
    margin: 0;
    display: inline-flex;
    border-radius: 5px;
}

#Pag_btn:hover {
    background-color: rgb(32, 118, 82);
}

.pagination {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: 15px;
}

.comments {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.div-wrapper {
    width: 80vw;
    min-height: 5rem;
    margin: 5px auto;
    background-color: lightgrey;
    border: 1px solid green;
    overflow: auto;
    /* position: relative; */
}

.div-com {
    margin-bottom: 5px;
    overflow: auto;
    /* position: relative; */
}

.com {
    font-weight: 700;
}

.btn {
    background-color: rgb(15, 211, 229);
    margin: 5px auto;
    display: block;

}

.btn:hover {
    background-color: rgb(211, 248, 0);
    transform: scale(1.1);
}